Python/adivinhav2.py
analise_alunos.spec
oconsole.spec
build/analise_alunos/analise_alunos.pkg
build/analise_alunos/base_library.zip
build/analise_alunos/Analysis-00.toc
build/analise_alunos/EXE-00.toc
build/analise_alunos/PKG-00.toc
build/analise_alunos/PYZ-00.pyz
build/analise_alunos/PYZ-00.toc
dist/analise_alunos.exe
build/oconsole/localpycs/struct.pyc
build/oconsole/localpycs/pyimod04_pywin32.pyc
build/oconsole/localpycs/pyimod03_ctypes.pyc
build/oconsole/Tree-00.toc
build/oconsole/EXE-00.toc
build/oconsole/oconsole.pkg
build/oconsole/PYZ-00.pyz
build/oconsole/Tree-02.toc
build/oconsole/Analysis-00.toc
build/oconsole/base_library.zip
build/analise_alunos/localpycs/struct.pyc
build/oconsole/Tree-01.toc
build/oconsole/PYZ-00.toc
build/analise_alunos/localpycs/pyimod03_ctypes.pyc
build/analise_alunos/localpycs/pyimod01_archive.pyc
build/analise_alunos/Tree-02.toc
build/analise_alunos/xref-analise_alunos.html
build/analise_alunos/localpycs/pyimod02_importers.pyc
build/oconsole/PKG-00.toc
build/analise_alunos/warn-analise_alunos.txt
build/oconsole/warn-oconsole.txt
build/oconsole/localpycs/pyimod01_archive.pyc
build/oconsole/xref-oconsole.html
build/oconsole/localpycs/pyimod02_importers.pyc
build/analise_alunos/localpycs/pyimod04_pywin32.pyc
build/analise_alunos/Tree-01.toc
build/analise_alunos/Tree-00.toc
